html {
  background-color: #3d2a22;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  color:#ffffff;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
}

/* nav styles */

.menu {
  background-color: #80260b;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-links {
  width: 100%;
  margin: 0;
  display: none;
  text-align: center;
}

.nav-links a {
  display: block;
  color: #faac8d;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;

  &:visited {
    color: #faac8d;
    text-align: center;
  }
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #972e0e;
  text-align: center;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
    text-align: center;
  }

  .nav-links a {
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
  }
    .menu {
    display: none;
  }
}

/* notes links */
    .notes-links {
        color: #ffe8cd;
        text-decoration: none;
        font-weight: bold;
    }

/* Notes Headers */
    .notes-header{
        color:#ffffff;
        text-decoration: none;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

/* footer links */
    .footer-links {
        color: #ff7044;
        text-decoration: none;
        font-weight: bold;
        background-color: #61100a;
        border: none;
        font-weight: bold;
        padding: 5px 10px;

        &visited {
            color: #ff7044;
        }
    }

/* Header 1 Stuff */
    .notes-header-1{
      color:#fd9f9f;
      font-family:cursive;
      text-decoration: underline;
    }

    .page-title{
      color:#ffffff;
      font-family:Arial, Helvetica, sans-serif;
      text-decoration: none;
    }

/* homepage subtitle */
    .page-subtitle{
      color:#ff9147;
      font-family:Arial, Helvetica, sans-serif;
      text-decoration: none;
      text-align: center;
      font-size: 1.3rem;
    }